<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${catalina.home}/logs/CarersClaimCapture.log</File>
        <encoder>
            <pattern>%d [%t] %-5p %c - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>20</maxIndex>
            <FileNamePattern>${catalina.home}/logs/CarersClaimCapture.%i.log</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>100MB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    
    <appender name="errorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${catalina.home}/logs/CarersClaimCapture.log</File>
        <encoder>
            <pattern>%d [%t] %-5p %c - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>20</maxIndex>
            <FileNamePattern>${catalina.home}/logs/CarersClaimCapture_errors.%i.log</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>100MB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    
    <root level="TRACE">
        <appender-ref ref="rollingFile" />
        <appender-ref ref="errorFile" />
    </root>
    
</configuration>